/*font-family: Abel*/
@font-face{
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

/*font-family: Arvo*/
@font-face{
    font-family: Arvo;
    src: url('../fonts/Arvo/Arvo-Regular.ttf');
}

/*font-family: Josefin*/
@font-face{
    font-family: Josefin;
    src: url('../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

/*font-family: Livvic*/
@font-face{
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf');
}

/*font-family: Old_Standard_TT*/
@font-face{
    font-family: Old_Standard_TT;
    src: url('../fonts/Old_Standard_TT/OldStandardTT-Regular.ttf');
}