
@import url('../css/fonts.css');

html, body{
    background-color: gray;
    margin:0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    /*Theme Colors*/
    --text-grey: #3f4055;
    --text-light: #686666da;
    --bg0color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    /*Gradient-colors*/
    --light-purple: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    /*Theme Font families*/
    --Abel: 'Arvo', cursive;
    --Arvo: 'Arvo', cursive;
    --Josefin: 'Josefin', cursive;
    --Livvic: 'Livvic', cursive;
    --Old_Standard_TT: 'Old_Standard_TT', cursive;
}
/*Global Classes*/
a{
    text-decoration: none;
    color: var(--text-grey);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}
/*Navbar*/

.nav{
    background: rgb(78, 130, 228);
    padding: 0.2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}
.nav .nav-menu{
    justify-content: space-between;
}
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 97%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0rem;
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-grey);
}

.collapse {
    height: 20rem;
}
.nav .nav-items{
    list-style-type: none;
    display: flex;
    margin: none;
}

.nav .nav-items .nav-link{
    padding: 1rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Livvic);
    font-size: 1.1rem;

}
.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}
.nav .nav-items .nav-link:hover a{
    color: white;
}
.nav .social{
    padding: 1.4rem 0;
}
.nav .social i{
    padding: 0.2rem;
}
.nav .social i:hover{
    color: #a1c4cf;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Abel);
    font-size: 1.6rem;
}

/*Navbar*/


/*Viewport less than or equal to 750px*/
@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse {
        display: initial;
    }
}

/*/Viewport less than or equal to 750px*/